.contact-container {
    padding: 40px 0;
    background-color: #f9f9f9;
    margin-bottom: 100px;
  }
  
  .map-container {
    display: flex;
  }
  
  .map-box {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    flex-grow: 1;
  }
  
  .map-iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 8px;
    min-height: 350px;
  }
  
  .contact-details {
    display: flex;
  }
  
  .contact-paper {
    padding: 32px;
    border-radius: 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  