@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

/* src/App.css */
.app-bar {
  background-color: #f6f3ea;
}

.logo {
  height: 120px;
  margin-right: 16px;
}

.title {
  flex-grow: 1;
  color: #2b2b2b;
  font-weight: bold;
}

.nav-button {
  color: #2b2b2b;
}

.book-button {
  margin-left: 16px;
  border-color: #2b2b2b;
  color: #2b2b2b;
}

.hero-section {
  background-image: url('https://source.unsplash.com/1600x900/?nature');
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2b2b2b;
}

.hero-title {
  font-weight: bold;
  margin-bottom: 16px;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Ensures smooth scrolling */
  font-family: 'Poppins', sans-serif;
}



